.message {
    padding: 14px;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    text-align: left;
    border-radius: 10px;

    &--success {
        background-color: rgba(39, 247, 117, 0.2);
        border: 1px solid #46a05c;
    }
}
